﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(../media/background02.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

hr .footer-divider {
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
    position: fixed;
    left: 0;
    bottom: 4rem;
}

footer .fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
}

footer.fixed-footer > p {
    text-align: center;
}

.content-area {
    width: 80%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 -45px 30px 20px rgba(0, 0, 0, .3);
}

navbar navbar-inverse navbar-fixed-top {
    padding: 5px;
}

.navbar-fixed-top {
    top: 0;
    border: none;
    box-shadow: 0 0 15px 10px rgba(0,0,0,.3);
}

navbar navbar-inverse navbar-fixed-top .header-container {
    margin-right: 15px;
    margin-left: 15px;
}

.body-content {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.container {
    padding-right: 0px;
}

.header-container img {
    float: left;
    height: 50px;
    margin-left: 35px;
    vertical-align: middle;
    padding: 10px 0px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px 15px 8px;
    font-size: 18px;
    line-height: 20px;
}

article {
    max-width: 100%;
    background-color: white;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, .1);
    padding: 20px;
    margin-bottom: 2px;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.jumbotron {
    margin-bottom: 0px;
}

.sidenav {
    height: 80.2%;
    width: 25rem;
    position: fixed;
    z-index: 1;
    top: 5%;
    right: calc(10%);
    background-image: linear-gradient(rgba(34,34,34,1), rgba(34,34,34,.9), transparent);
    overflow-x: hidden;
    padding-top: 5rem;
    padding-right: 5%;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
}

.navbar-nav li {
    width: 100%;
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.news-thread {
    margin-right: 25rem;
    width: calc(100% - 25rem);
}

form {
    text-align: center;
    border-radius: 5px;
    margin-bottom: 2px;
    width: 100%;
    padding: 2em 4em;
        
    background-color: #eeeeee;
}

form input[type=text] {
    width: 85%;
    height: 15%;
    margin-right: auto;
    margin-left: auto;
    margin-top: .5rem;
    padding: 1.3em 1.3em;
    color: #5f5f5f;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #dbdbdb;
    display: block;
}

form #comment-input {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: vertical;
    width: 85%;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: .5rem;
    padding: 1.3em 1.3em;
    color: #5f5f5f;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #dbdbdb;
    display: block;
}

form input:focus,
form #comment-input:focus {
    outline: 0;
    border: 1px solid #1287bf;
    box-shadow: 0 0 4px #1287bf;
}

form ::placeholder {
    color: #b0b0b0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
}

input:invalid:not(:focus):not(:placeholder-shown),
#comment-input:invalid:not(:focus):not(:placeholder-shown) {
    background: pink;
}

input:invalid:focus + .requirements,
#comment-input:invalid:focus + .requirements {
    max-height: 30vw;
    padding: .5rem 1rem .6rem 1rem;
}

input:valid:not(:focus),
#comment-input:valid:not(:focus) {
    background: rgb(232, 240, 254);
}

.requirements {
    font-family: 'PT Sans', sans-serif;
    color: #999;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-height: 0;
    max-width: 30vw;
    font-size: 10pt;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-style: italic;
}

form button {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
    width: 11vw;
    min-width: 10em;
    background-color: rgb(103, 103, 103);
    border-radius: .4rem;
    text-align: center;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    font-family: Lato Bold, Roboto, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 12pt;
    transition: .5s;
    outline: none;
}

form button:hover {
    cursor: pointer;
    background: rgb(71, 71, 71);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
}

article button {
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: rgb(160, 160, 160);
    border-radius: 7rem;
    text-align: center;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    font-family: Lato Bold, Roboto, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 10pt;
    transition: .5s;
    outline: none;
}

article button > a{
    color: white;
    outline: none;
}

article button > a:hover {
    color: white;
    outline: none;
    text-decoration: none;
}

article button:hover {
    cursor: pointer;
    background: rgb(130, 130, 130);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
}


@media screen and (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
