﻿@model Library.Models.NewsStory

@{
    ViewBag.Title = "Complete News Story View";
}

    <div class="content-area">
        <div class="news-thread">
            <article>
                <h2>@Html.DisplayFor(modelItem => Model.Title)</h2>
                <h4>written by: @Html.DisplayFor(modelItem => Model.AuthorName) @Html.DisplayFor(modelItem => Model.AuthorSurname)</h4>
                <h5>@Model.PublicationDate.ToShortDateString()</h5>
                <p>
                    @Html.DisplayFor(modelItem => Model.Body)
                </p>
                <button>
                    @Html.ActionLink("Back", "Index", "Home")
                </button>
            </article>
        </div>

        <div class="sidenav">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Guest", "About", "Guest")</li>
                <li>@Html.ActionLink("Survey", "Form", "Survey")</li>
            </ul>
        </div>
    </div>

