﻿@model IEnumerable<global::Library.Models.NewsStory>

@{
    ViewBag.Title = "Home Page";
    var articleTextToDisplay = "";
}

    <div class="content-area">
        <div class="news-thread">
            <div class="jumbotron">
                <h1>Discover the latest news</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat justo id libero aliquet vulputate...</p>
            </div>

            @foreach (var item in Model)
            {
                <article>
                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                    <h4>written by: @Html.DisplayFor(modelItem => item.AuthorName) @Html.DisplayFor(modelItem => item.AuthorSurname)</h4>
                    <h5>@item.PublicationDate.ToShortDateString()</h5>
                    <p>
                        @if (item.Body.Length > 200)
                        {
                            articleTextToDisplay = item.Body.Substring(0, 200) + "...";
                        }
                        else
                        {
                            articleTextToDisplay = item.Body;
                        }

                        @articleTextToDisplay
                    </p>
                    <button>
                        @Html.ActionLink("Read more", "ViewCompleteNewsStory", "Home", item, null)
                    </button>
                </article>
            }

        </div>
        <div class="sidenav">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Guest", "About", "Guest")</li>
                <li>@Html.ActionLink("Survey", "Form", "Survey")</li>
            </ul>
        </div>
    </div>
