﻿
@{
    ViewBag.Title = "Form";
    Html.EnableClientValidation(true);
}

<div class="content-area">
    <div class="news-thread">
        @using (Html.BeginForm("Form", "Survey", FormMethod.Post))
        {
            <h2>Survey Form</h2>

            @Html.ValidationSummary(true, "Survey form submitting failure. Make sure the data you entered is valid and try again.", new { @class = "requirements" })

            @Html.TextBox("name", "", new { placeholder = "Your Name", pattern = "^([А-Я]{1}[а-яё]{1,27}|[A-Z]{1}[a-z]{1,27})$", required = "", title = "Please enter your name.", maxlength = "40" })
            <div class="requirements">
                Must be a valid name.
            </div>

            @Html.TextBox("surname", "", new { placeholder = "Your Surname", pattern = "^([А-Я]{1}[а-яё]{1,27}|[A-Z]{1}[a-z]{1,27})$", required = "", title = "Please enter your surname.", maxlength = "40" })
            <div class="requirements">
                Must be a valid surname.
            </div>

            <h3>How old are you?</h3>
            @CreateAgeRadio(ViewBag.AgeList)

            <h3>Choose your favorite genres:</h3>
            @CreateGenresCheckbox(ViewBag.Genres)

            <button>Submit</button>
        }

    </div>
    <div class="sidenav">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Guest", "About", "Guest")</li>
            <li>@Html.ActionLink("Survey", "Form", "Survey")</li>
        </ul>
    </div>
</div>

@helper  CreateAgeRadio(IEnumerable<string> ageValuesList)
{
    foreach (var item in ageValuesList)
    {
        <div>
            <input type="radio" id="@item" name="age" value="@item" />
            @Html.Label(item, item)
        </div>
    }
}

@helper  CreateGenresCheckbox(IEnumerable<string> genresValuesList)
{
    foreach (var item in genresValuesList)
    {
        <div>
            <input type="checkbox" id="@item" name="@item" value="@item" />
            @Html.Label(item, item)
        </div>
    }
}

