﻿@model Library.Models.SurveyResult

@using Library.Helpers

@{
    ViewBag.Title = "Survey Result";
}

<div class="content-area">
    <div class="news-thread">
        <div class="jumbotron">
            <h2>Survey Results</h2>

            <p>Your name: @Html.DisplayFor(modelItem => Model.AuthorName)</p>
            <p>Your surname: @Html.DisplayFor(modelItem => Model.AuthorSurname)</p>

            @if (string.IsNullOrEmpty(Model.AuthorAge))
            {
                <p>Your age: not specified</p>
            }
            else
            {
                <p>Your age: @Html.DisplayFor(modelItem => Model.AuthorAge)</p>
            }

            <p>Your favorite genres:</p>
            @if (((List<string>)Model.FavoriteGenres).Any())
            {
                @Html.CreateUl(Model.FavoriteGenres as List<string>)
            }
            else
            {
                <p>not specified</p>
            }
        </div>
    </div>
    <div class="sidenav">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Guest", "About", "Guest")</li>
            <li>@Html.ActionLink("Survey", "Form", "Survey")</li>
        </ul>
    </div>
</div>

