﻿@model IEnumerable<global::Library.Models.Comment>

@{
    ViewBag.Title = "About";
    Html.EnableClientValidation(true);
    var newComment = new Library.Models.Comment();
}

<div class="content-area">
    <div class="news-thread">
        @using (Html.BeginForm("About", "Guest", FormMethod.Post))
        {
            <h2>Leave your feedback</h2>

            @Html.ValidationSummary(true, "Comment creation failure. Make sure the data you entered is valid and try again.", new { @class = "requirements" })

            @Html.TextBoxFor(m => newComment.AuthorName, new { placeholder = "Your Name", pattern = "^([А-Я]{1}[а-яё]{1,27}|[A-Z]{1}[a-z]{1,27}|[А-Я]{1}[а-яё]{1,27} [А-Я]{1}[а-яё]{1,27}|[A-Z]{1}[a-z]{1,27} [A-Z]{1}[a-z]{1,27})$", required = "", title = "Please enter your name." })
            <div class="requirements">
                @Html.ValidationMessageFor(m => newComment.AuthorName, "Must be a valid name.", new { @class = "requirements" })
            </div>

            @Html.TextBoxFor(m => newComment.Body, new { id = "comment-input", placeholder = "Your Comment", pattern = "^[a-zA-Zа-яёА-Я][^<>]+$", required = "", title = "Please enter your comment." })
            <div class="requirements">
                @Html.ValidationMessageFor(m => newComment.Body, "Must be a valid comment body.", new { @class = "requirements" })
            </div>

            <button>Add comment</button>
        }

        @foreach (var item in Model)
        {
            <article>
                <h3>@Html.DisplayFor(modelItem => item.AuthorName)</h3>
                <h5>commented @item.PublicationDate.ToUniversalTime()</h5>
                <p>
                    @Html.DisplayFor(modelItem => item.Body)
                </p>
            </article>
        }

    </div>
    <div class="sidenav">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Guest", "About", "Guest")</li>
            <li>@Html.ActionLink("Survey", "Form", "Survey")</li>
        </ul>
    </div>
</div>
